*{
    font-family: sans-serif;
}

#querNamorar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    align-items: center;
    padding-left:700px;      
  }

#not{
    background: black;
    color: white;
    border: none;
    padding: 17px;
    font-size: 20px;
    width: 80px;
    border-radius: 5px;
    align-items: center;

}

#yes{
    background: black;
    color: white;
    border: none;
    padding: 17px;
    font-size: 20px;            width: 80px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}